- type: job
  id: SeniorResearcher
  name: job-name-senior-researcher
  description: job-description-senior-researcher
  playTimeTracker: JobSeniorResearcher
  setPreference: true # DeltaV - Readded Senior roles (removed upstream)
  canBeAntag: true # Echo Station: Yes, seniors can be antags. No penalty for senior here.
  antagAdvantage: 2 # Echo Station: Same penalty as scientist.
  requirements:
  - !type:DepartmentTimeRequirement
    department: Epistemics # DeltaV - Epistemics Department replacing Science
    time: 216000 #60 hrs
  - !type:WhitelistRequirement # Echo Station: Require server whitelisting for all Senior roles
  startingGear: SeniorResearcherGear
  icon: "JobIconSeniorResearcher"
  supervisors: job-supervisors-rd
  access:
  - Research
  - Maintenance

- type: startingGear
  id: SeniorResearcherGear
  equipment:
    id: SeniorResearcherPDA
    ears: ClothingHeadsetScience
    innerClothingSkirt: ClothingUniformJumpskirtSeniorResearcher
